section.text {
  padding-top: 10rem;
  padding-bottom: 5rem;

  font-family: 'Open Sans', Sans-serif;
  color: $font-color;
  .row {
    .photo-about {
      background-image: url("../photos/header.jpeg");
      background-repeat: no-repeat;
      background-size: 380%;
      background-position: right top;

      padding-top: 80vh;
      @include tablet {
        display: none;
      }
    }
    .col-6 {
      @include tablet {
        width: 100%;
      }
      h1 {
        font-size: 2.5rem;
        font-weight: 100;
        color: $main-color;
        font-family: 'Playfair Display', serif;
        &:after {
          content: "";
          display: block;
          width: 8rem;
          height: 0.5rem;
          margin-top: 2.5rem;
          z-index: -1111;
          position: absolute;
          background-color: $header-color;
          transition: all 0.3s ease;
        }
        &:hover:after {
          width: 18rem;
          background-color: $to-color;
        }
      }
      h2 {
        font-size: 1.6rem;
        font-weight: 100;
        color: $main-color;
        padding-bottom: 3rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.6rem;
        float: left;
        padding-right: 5rem;
        padding-bottom: 2rem;
        @include tablet {
          padding-right: 0rem;
        }
      }
    }
  }
}