//G L O B A L

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

$columns: 12;
$baseColumnWidth: 100%/$columns;
$main-color: #9BB899;
$accent: #FCCEAA;
$to-color: #F5827D;
$font-color: #343A40;
$header-color: #EA4961;

.container {
  max-width: 71.25rem;
  width: 100%;
  margin: 0 auto;

  .row {
    &:before, &:after {
      content: "";
      display: block;
      clear: both;
    }

    [class*='col-'] {
      float: left;
      width: $baseColumnWidth;
      min-height: 0.0625rem;
    }

    @for $i from 1 through $columns {
      .col-#{$i} {
        width: $baseColumnWidth * $i;
      }
    }
  }
}

//H E A D E R

header {
  background-color: $main-color;
  width: 100%;
  font-family: "open sans", Sans-serif;
  height: 3.5rem;
  position: fixed;
  z-index: 2;
  h2 {
    color: white;
    font-size: 1.2rem;
    line-height: 3.5rem;
    font-weight: 100;
    font-family: 'Pacifico', 'Lato', Sans-serif;
  }
  nav {
    float: right;
    li {
      list-style-type: none;
      float: left;
      padding-left: 1.5rem;
      a {
        text-decoration: none;
        color: white;
        line-height: 3.5rem;
        transition: all 0.6s ease;
        &:hover {
          color: wheat;
        }
      }
    }
  }
}

//H E R O

.hero-image {
  background-image: url("../photos/pexels-photo-529927.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -1111;
  .header-text {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 49%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      font-size: 7rem;
      font-family: 'Playfair Display', Sans-serif;
      font-weight: 1;
      line-height: 6rem;
      text-transform: uppercase;
      color: $header-color;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 100;
      font-family: 'Open Sans', Sans-serif;
      color: $main-color;
      position: relative;
      top: 1rem;
    }
  }
}

section {
  button {
    width: 20rem;
    padding: 1rem;
    margin: 2rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    border: none;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    color: white;
    background-color: $header-color;
    outline: 0;
    text-transform: uppercase;
    z-index: 1;
    transition: all 0.6s ease;
    //width: 50%;
    margin: auto;
    position: absolute;
    top: 70%;
    left: 52%;
    transform: translate(-50%, -50%);
    &:hover {
      background-color: $to-color;
    }
  }
}

//A B O U T

section.text {
  padding-top: 10rem;
  padding-bottom: 5rem;
  font-family: 'Open Sans', Sans-serif;
  color: $font-color;
  .photo-about {
    background-image: url("../photos/pexels-photo-597329.jpeg");
    background-repeat: no-repeat;
    background-size: 380%;
    background-position: right top;
    padding-top: 80vh;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 100;
    color: $main-color;
    font-family: 'Playfair Display', serif;
    &:after {
      content: "";
      display: block;
      width: 8rem;
      height: 0.5rem;
      background-color: $header-color;
      transition: all 1s ease;
      margin-top: 2.5rem;
      z-index: -1111;
      position: absolute;
    }
    &:hover:after {
      width: 18rem;
      background-color: $to-color;
    }
  }
  h2 {
    font-size: 1.6rem;
    font-weight: 100;
    padding-bottom: 3rem;
    color: $main-color;
  }
  p {
    font-size: 1rem;
    line-height: 1.6rem;
    float: left;
    padding-right: 5rem;
    padding-bottom: 2rem;
  }
}

//B A N E R

section.banner.row {
  width: 100%;
  height: 50vh;
  background-image: url("../photos/pexels-photo-395132.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  .light-bgc {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 50vh;
    .header-text {
      width: 80%;
      margin: auto;
      position: absolute;
      top: 49%;
      left: 52%;
      transform: translate(-50%, -50%);
      text-align: center;
      h1 {
        font-size: 4rem;
        font-family: 'Playfair Display', Sans-serif;
        font-weight: 1;
        line-height: 4rem;
        text-transform: uppercase;
        color: $header-color;
      }
    }
  }
}

//G A L L E R Y

section.gallery {
  padding-top: 2rem;
  font-family: 'Open Sans', sans-serif;
  color: $font-color;
  h2 {
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 3rem;
    color: $main-color;
    padding-top: 5rem;
    font-family: 'Playfair Display', serif;
    &:after {
      content: "";
      display: block;
      width: 8rem;
      height: 0.5rem;
      background-color: $header-color;
      transition: all 1s ease;
    }
    &:hover:after {
      width: 18rem;
      background-color: $to-color;
    }
  }
  h3 {
    text-align: center;
    padding-bottom: 1rem;
    transition: all 1s ease;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      color: $header-color;
    }
  }
  div.photo {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin: 2rem auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    cursor: pointer;
    //&:hover {
    //
    //}
    .price {
      transition: all 1s ease;
      border-radius: 50%;
      width: 15rem;
      height: 15rem;
      margin: 0 auto;
      line-height: 15rem;
      opacity: 0;
      &:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.7);
      }
      p {
        font-family: 'Playfair Display', serif;
        color: $header-color;
        font-size: 4rem;
      }
    }
  }
  p {
    text-align: center;
  }
}

@for $i from 1 through 6 {
  .photo#{$i} {
    background-image: url('../photos/pexels-photo-3dd95132.jpeg');
  }
}

//F O O T E R
footer {
  margin-top: 7rem;
  font-family: 'Open Sans', Sans-serif;
  color: white;
  background-color: $main-color;
  width: 100%;
  font-family: 'Lato', Sans-serif;
  height: 8rem;
  .logo {
    color: white;
    font-size: 1.2rem;
    line-height: 5rem;
    font-weight: 100;
    font-family: 'Pacifico', 'Lato', Sans-serif;
    text-align: center;
  }
  .copy {
    line-height: 5rem;
    float: right;
    color: rgba(255, 255, 255, 0.5);
  }
  .col-12 {
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
  }

  h4 {
    line-height: 5rem;
    color: rgb(255, 255, 255);
  }

  .first-in-line {
    margin-top: -1.3rem;
  }
}
